@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/static/Outfit-semiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Font Sizes */
  --text-text9: 9px;
  --text-text10: 10px;
  --text-text11: 11px;
  --text-text13: 13px;
  --text-text15: 15px;
  --text-text20:20px;
  --text-text26: 25.93px;
  --text-text32: 32px;

}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: "Outfit";
  font-style: normal;
}
